.btnLike {
    background-image: url('like.png');
    background-size: 100%;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.btnLike :hover {
    width: 110%;
    height: 110%;
}

body {
    background-color: rgb(240, 239, 239);
}

input,
button,
select {
    height: 30px;
    border-radius: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 2px solid grey;
}

#science,
#education,
#technology {
    transform: scale(2);
    border: 1px solid grey;
}

#sites {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 20px;
}
.infoSite{
    display: flex;
    justify-content: space-between;
}

